{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.email }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mt-5">Hello {{ user.email }}!</h1>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="games">
            <button class="nav-link active" id="pills-games-tab" data-bs-toggle="pill" data-bs-target="#pills-games" type="button" role="tab" aria-controls="pills-games" aria-selected="true">Mes jeux</button>
        </li>
        <li class="nav-item" role="loans">
            <button class="nav-link" id="pills-loans-tab" data-bs-toggle="pill" data-bs-target="#pills-loans" type="button" role="tab" aria-controls="pills-loans" aria-selected="false">Mes emprunts</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-games" role="tabpanel" aria-labelledby="pills-games-tab" tabindex="0">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Image</th>
                    <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in user.boardgames %}
                    <tr>
                        <td>{{ game.title }}</td>
                        <td><img class="img-fluid w-25" src="uploads/{{ game.picture }}" alt="{{ game.title }}"></td>
                        <td>
                            <span><a href="{{ path('app_edit_boardgame', {id: game.id}) }}">edit</a></span>
                            <span><a href="{{ path('app_delete_boardgame', {id: game.id}) }}">delete</a></span>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="pills-loans" role="tabpanel" aria-labelledby="pills-loans-tab" tabindex="0">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Image</th>
                        <th scope="col">Date de Début</th>
                        <th scope="col">Date de Fin</th>
                    </tr>
                </thead>
                <tbody>
                    {% for loan in user.loans %}
                    <tr>
                        <td>{{ loan.game }}</td>
                        <td><img class="img-fluid w-25" src="uploads/{{ loan.game.picture }}" alt="{{ loan.game.title }}"></td>
                        <td>{{ loan.start | date('d-m-Y') }}</td>
                        <td>{{ loan.end | date('d-m-Y') }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
